*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: "Merriweather Sans", sans-serif;
    color: brown;
}

.wrapper{
    height: 800px;
    background-color: black;
    display: flex;
    max-width: 1440px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

h1{
    font-size: 30px;
    font-weight: bold;
   
}

.restart{
    width: 175px;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 2px solid brown;
    transition: all 0.2s ease;
    cursor: pointer;
    font-weight: bold;
    margin-top: 30px;
}

.restart:hover{
    background: brown;
    color: goldenrod;
    border: 2px solid goldenrod;
    
}

.game{
    width:500px;
    height:500px;
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    color:goldenrod;
    font-size: 24px;

}

.header .player-X{
    flex: 1;
    border-bottom: 5px solid goldenrod;
    padding-bottom: 8px;
}

.player-X.active{
    color: rgb(228, 180, 180);
    border-color: rgb(228, 180, 180);

}

.header .player-O{
    flex: 1;
    border-bottom: 5px solid goldenrod;
    padding-bottom: 8px;
}

.player-O.active{
    color: blueviolet;
    border-color: blueviolet;
}

.board{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    flex-grow: 1;
    grid-gap:0px;
    padding: 10px;
    
}

.board-tile{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    background-color: goldenrod;
    cursor: pointer;
    
}

.board-tile:not(:nth-child(3n)){
    border-right:3px solid black ;
}

.board-tile:not(:nth-last-child(-n +3)){
    border-bottom: 3px solid black;
}

.board-tile:hover{
    background: black;
}

.tile-x{
    color: rgb(228, 180, 180);
}

.tile-o{
    color: blueviolet;
}

.tile-winner span{
    color: black;
}